<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .divbig {
            text-align: center;
        }

        .content {
           width: 20rem;
        }

        img {
            width: 10rem;
            height: 10rem;
            /*width: 100%;*/
        }
        td,th{
            padding: 2rem;
        }
        a{
            text-decoration: none;
            color: #ffcb22;
        }
        table{
            /*color: white;*/
            /*background-color: black;*/
            width: 100%;
        }
        /*.content-right {*/
        /*    display: block;*/
        /*}*/
    </style>
</head>
<body>
<form method="get" th:action="@{showList}">
    name
    <input type="text" th:name="search">
    <button>them</button>
</form>
<div class="table table-striped">
    <table>
        <tr>
            <th>img</th>
            <th>name</th>
            <th>content</th>
            <th>category</th>
            <th>date</th>
            <th>author</th>
            <th>delete</th>
            <th>edit</th>
        </tr>
        <div class="content" th:each="lists, status:${blogPage}">
            <tr>
                <td class="content-left">
                    <img th:src="${lists.img}" height="100"
                         width="200"/>
                </td>
                <td class="content-right">
                    <div th:text="${lists.name}"></div>
                </td>
                <td class="content-right">
                    <div th:text="${lists.content}"></div>
                </td>
                <td class="content-right"  >
                    <span th:if="${lists.category != null}" th:text="${lists.category.name}">...</span>
                </td>
<!--                <td class="content-right">-->
<!--                    <div th:text="${lists.category.name}"></div>-->
<!--                </td>-->
                <td class="content-right">
                    <div th:text="${lists.date}"></div>
                </td>
                <td class="content-right">
                    <div th:text="${lists.author}"></div>
                </td>
                <td>  <a th:href="@{/delete(id=${lists.getId()})}">delete</a></td>
                <td>  <a th:href="@{/showEdit(id=${lists.getId()})}">edit</a></td>
            </tr>
        </div>
    </table>
    <a th:if="${blogPage.hasPrevious()}" th:href="@{showList(page=${blogPage.number-1},search=${search})}" >Prev</a>
    <span th:text="${blogPage.number+1}"></span>/<span th:text="${blogPage.totalPages}"> </span>
    <a th:if="${blogPage.hasNext()}" th:href="@{showList(page=${blogPage.number+1},search=${search})}">Next</a>
    <a href=""><i class="fa-solid fa-angles-right"></i></a>
</div>

<div class="create" style="margin-top: 10rem">
    <h1>create</h1>
    <form method="post" th:action="@{create}" th:object="${blog}">
        name
        <input type="text" th:field="*{name}">
        img
        <input type="text" th:field="*{img}">
        author
        <input type="text" th:field="*{author}">
        category
        <select th:field="*{category}" >
            <option value="" >the loat</option>
            <option th:each=" cate : ${category}" th:value="${cate.id}" th:text="${cate.name}"></option>

        </select>
        date
        <input type="text" th:field="*{date}">
        content
        <input type="text" th:field="*{content}">
        <button>them</button>
    </form>
</div>

</div>

</body>
</html>