<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .form{
        width: 100%;
        max-width: 600px;
    }
    .item{
       padding: 1rem 2rem;
    }
    input{
        padding: 1rem;
        border-radius: 10px;
    }

    label{
        /*padding: 1rem;*/
        float: left;
    }
</style>
<body>
<div class="form">
    <form action="create" method="post" th:object="${product}">
<!--        <div class="item">-->
<!--            <label for="id">add ID</label>-->
<!--            <input th:field="*{id}" id="id">-->
<!--        </div>-->

        <div class="item">
            <label for="name">add name</label>
            <input th:field="*{name}" id="name">
        </div>
        <div class="item">
            <label for="price">add price</label>
            <input th:field="*{price}" id="price">
        </div>
        <div class="item">
            <label for="description">add description</label>
            <input th:field="*{description}" id="description">
        </div>


        <label for="producer">add producer</label>
        <input th:field="*{producer}" id="producer">
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>