<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/edit" th:object="${playerSoccer}">
  id
  <input th:field="*{id}" type="hidden"  >
  code
  <input th:field="*{code}" type="text"   >
  <small th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></small>
  fullName
  <input th:field="*{fullName}" type="text"  >
  <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></small>
  date
  <input th:field="*{date}" type="text"  >
  <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
  experience
  <input th:field="*{experience}" type="text"  >
  <small th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></small>
  <select th:field="*{team.id}" class="form-select" id="inputGroupSelect01"  >
    <option th:each="type: ${team}" th:value="${type.id}" th:text="${type.name}"></option>
  </select>
  <select th:field="*{position.id}" class="form-select" id=""  >
    <option th:each="type: ${list}" th:value="${type.id}" th:text="${type.name}"></option>
  </select>
  img
  <input th:field="*{img}" type="text" >
  <input type="submit">
</form>
</body>
</html>